<div class="<%= @color %> p-4">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center">
      <div class="flex-shrink-0">
        <div class="text-xl text-white">
          <%= icon %>
        </div>
      </div>

      <div class="ml-3 flex">
        <div class="text-sm text-white">
          <%= content %>
        </div>
      </div>
    </div>
  </div>
</div>