<nav class="bg-base02">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <%# Left %>
      <div class="flex items-center">
        <%# Brand %>
        <div class="flex-shrink-0">
          <div class="flex-shrink-0 flex items-center">
            <%= link_to root_path do %>
              <img class="block h-8 w-auto mr-3" src="https://avatars.githubusercontent.com/u/40899742?s=400&amp;v=4" alt="@jbakerdev">
            <% end %>
          </div>
        </div>

        <%# Links %>
        <div class="sm:block sm:ml-6">
          <div class="sm:block sm:ml-6">
            <div class="flex space-x-4">
              <% links.each do |link| %>
                <%= link %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <%# Right %>
      <div class="sm:ml-6 sm:block">
        <div class="flex items-center">
        </div>
      </div>
    </div>
  </div>
</nav>