<div class="mt-5">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="mt-1 text-4xl text-yellow font-extrabold sm:text-5xl sm:tracking-tight lg:text-6xl">Howdy!</h1>
      <p class="max-w-xl mt-5 mx-auto text-xl">I'm JB. I code and stuff.</p>
      <p class="mt-5"><a href="https://github.com/jbakerdev">GitHub</a></p>
    </div>
  </div>
</div>
